*{
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
    background-color: #222222;
}

#textinho{
    padding: 50px;
    margin-left: 200px;
    margin-top: 40px;
    font-size: 40px;
}

#ageToCheck{
    padding: 15px;
    margin-left: 690px;
    width: 20%;
    margin-top: 50px;
    background-color: #00000050;
    border-radius: 6px;
    border-color: black;
    transition-duration: 200ms;
}
#ageToCheck:hover{
    background-color: #00000080;
}

#btn{
    padding: 13px;
    border-radius: 4px;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #00000020;
    color: black;
    margin-left: 820px;
    cursor: pointer;
    transition-duration: 200ms;
}
#btn:hover{
    background-color: #FFFFFF20;
}

#zoa{
    padding: 20px;
    margin-left: 690px;
    color: rgb(255, 255, 255);
    font-weight: lighter;
}

#zoa2{
    margin-left: 770px;
    color: #ffffff30;
    font-weight: lighter;
}

#wave{
    position: fixed;
    margin-top: 60px;
}